src/main/mule/accumulation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="accumulationFlow" doc:id="03009f25-c2c8-4fa6-b0db-ed031ca0f056" >
		<http:listener doc:name="Listener" doc:id="ed79b794-788c-40f4-b2dd-29ddb520a896" config-ref="HTTP_Listener_config" path="/accum"/>
		<logger level="INFO" doc:name="Logger" doc:id="6ca6d07a-0a4d-4486-a644-39790d9aa523" message="#[payload]"/>
		<set-variable value="#[[]]" doc:name="Set Variable" doc:id="46a9ba7a-357f-4279-8825-16e6a302bb4b" variableName="vAccum"/>
		<parallel-foreach doc:name="For Each" doc:id="a273e29a-892a-467d-ab8f-413187c5cb65" >
			<flow-ref doc:name="Flow Reference" doc:id="a27927e5-e05e-4405-8642-ddc73e2d790f" name="accumulationSub_Flow" target="aaaa"/>
			<ee:transform doc:name="Transform Message" doc:id="bfeddf5e-10d2-44c2-a706-c9eb9f4849b9">
			<ee:message>
			</ee:message>
				<ee:variables >
					<ee:set-variable variableName="vAccum" ><![CDATA[%dw 2.0
output application/json
---
vars.vAccum + vars.aaaa]]></ee:set-variable>
				</ee:variables>
		</ee:transform>
		</parallel-foreach>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f1c62f38-72b4-4e8d-ad4d-1b6a866e34df" />
		<set-payload value="#[vars.vAccum]" doc:name="Set Payload" doc:id="e0c588e8-6211-4e36-b929-44d2d3fbb303" />
		<logger level="INFO" doc:name="Logger" doc:id="89299afa-d8b1-4346-8543-c8ccb7b2075e" message="#[payload]"/>
	</flow>
	<sub-flow name="accumulationSub_Flow" doc:id="6e5e582b-32f8-41ce-8d7a-ecb5c3fd17b8" >
		<ee:transform doc:name="Transform Message" doc:id="2bd803cf-1f3e-47f6-ae03-c4284f7937e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.id + 1]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5ada0f9b-9483-4162-8684-cb4042db6313" message="#[payload]"/>
	</sub-flow>
</mule>
